/* 
PonyoMedium:
- '#4C413F'
- '#5A6F80'
- '#278B9A'
- '#E75B64'
- '#DE7862'
- '#D8AF39'
- '#E8C4A2'
*/

:root {
  --nav-bg-color: #4C413F;
  --nav-bg-color-contrast: #ffffff;
  --main-bg-color: #5A6F80;
}